.collections .tooglepanel {
  margin-top: 90px;
}
.collections .collectiontile h1 {
  font-family: var(--maintitlefonts);
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
  letter-spacing: -0.02em;
  text-align: left;
}
.decor .collectiontile h1 {
  color: #652b41;
}
.house-keeping .collectiontile h1 {
  color: #debb50;
}
.gardening .collectiontile h1 {
  color: #ce3e55;
}
.giftwraps .collectiontile,
.productrecommendation .collectiontile h1 {
  color: #e37052;
}
.home-improvement .collectiontile h1 {
  color: #e37052;
}
.whattobuy .collectiontile h1 {
  color: #698f92;
}
.collections .collectiontile {
  border-bottom: 1px solid #e37052;
  padding: 0px 0 38px 0;
}
.collections .homecollection {
  margin-top: 50px;
}
.collection_list {
  list-style: none;
  width: 100%;
  padding: 30px 0;
  /* margin-top: 86px; */
  border-bottom: 1px solid #8080804a;
}
.collection_list a {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.collection_list a img {
  width: 243px;
  height: 228px;
  object-fit: cover;
}
.collection_list a .infocontent {
  max-width: 673px;
  width: 100%;
}
.collection_list a .infocontent h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 18px 0;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  font-family: var(--maintitlefonts);
}
.collection_list a .infocontent p {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.collection_list a .infocontent h2,
.collection_list a .infocontent p {
  color: black;
}
.collection_list a .author {
  color: black;
  max-width: 250px;
  width: 100%;
}
.collection_list a .author h2 {
  font-family: var(--maintitlefonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.collection_list a .author p {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-top: 20px;
}
ul.collection_service {
  margin-bottom: 30px;
}
@media (max-width: 1440px) {
  .collections {
    padding: 0 14px;
  }
}
@media (max-width: 666px) {
  .collection_list a {
    flex-direction: column;
    align-items: start;
    padding: 0px 0px;
  }
  .collections .collectiontile h1 {
    font-size: 39px;
    line-height: 49.6px;
  }
  .collection_list a img {
    width: 100%;
  }
}
