* {
  padding: 0;
  margin: 0;
  font-family: var(--mainfontp);
}

a {
  text-decoration: none;
  color: white;
}
img {
  border-radius: 6px;
}
.global_padding {
  padding: 2px 60px;
}
.global_width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.5s ease;
}
.navmenuheader.editorialnav li a {
  color: white;
}
.logocontainer img {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.centerheader {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.centerheader nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.centerheader nav > li:hover {
  border-bottom: 1px solid black;
}
.centerheader nav > li {
  margin: 0 15px;
}
.centerheader nav > li > a {
  color: black;
  text-decoration: none;
  line-height: 16px;
}
.headerwrap {
}
/* .navmenuheader .activenav {
  border-bottom: 1px solid black;
} */
.footer {
  background-color: black;
}
.footer .footerwrap .uppercontent {
  display: flex;
  justify-content: space-between;
}
.footer .footerwrap .leftcolumn {
  padding: 70px 30px 50px 30px;
  max-width: 300px;
  width: 100%;
}
.footer .footerwrap .leftcolumn h2 {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  text-align: left;
  margin-top: 30px;
}
.footer .footerwrap .rightcolumn p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: white;
}
.footer .footerwrap .rightcolumn {
  max-width: 818px;
  padding: 70px 30px 50px 30px;
  width: 100%;
}
.footer .footerwrap .rightcolumn .listpage h1,
.newsletters.mobile-version h1 {
  color: white;
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.footer .footerwrap .rightcolumn .listpage ul li {
  margin: 20px 0;
}
.footer .footerwrap .rightcolumn .listpage ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer .footerwrap .rightcolumn .listpage {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer .footerwrap .rightcolumn .bottomdes {
  margin-top: 15px;
}
.footer .footerwrap .rightcolumn .newsletters p,
.newsletters.mobile-version p {
  font-family: var(--mainfontp);
  font-size: 14px;
  font-weight: 400;
  padding: 28px 0 18px 0;
  line-height: 21px;
  text-align: left;
  color: white;
}
.newsletters.mobile-version {
  display: none;
}
.newsletters.mobile-version form {
  display: flex;
  align-items: center;
}
.newsletters.mobile-version form input {
  width: 100%;
}
.newsletters.mobile-version form button {
  width: 17%;
  margin-left: 10px;
}
.newsletters.mobile-version {
  padding: 50px 30px;
}
.footer .footerwrap .rightcolumn .newsletters form input,
.newsletters.mobile-version form input {
  height: 40px;
  padding-left: 16px;
}
.footer .footerwrap .rightcolumn .newsletters form button,
.newsletters.mobile-version form button {
  border: none;
  background-color: #e37052;
  padding: 10px;
  height: 42px;
  cursor: pointer;
  color: white;
}
.footer .footerwrap .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 16px;
  color: white;
  border-top: 1px solid white;
}
.footer .footerwrap .socials h1 {
  font-family: var(--mainfontp);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.centerheader nav .collection-header a {
  display: flex;
  align-items: center;
}
.centerheader nav .collection-header {
  position: relative;
}
.centerheader nav .collection-header .sub-menu {
  display: none;
}
.centerheader nav .collection-header.activenav .sub-menu {
  display: block;
}
.centerheader nav .collection-header.activenav .sub-menu {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 14px;
  width: 256px;
}
.centerheader nav .collection-header.activenav .sub-menu li:hover {
  border-bottom: 1px solid black;
}
.centerheader nav .collection-header.activenav .sub-menu li a {
  color: black !important;
}
.centerheader nav .collection-header.activenav .sub-menu li {
  padding: 15px 0 15px 0px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.error {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.emptywrap h1 {
  text-align: center;
  font-family: var(--maintitlefonts);
  font-size: 72px;
  font-weight: 400;
  line-height: 93.6px;
  letter-spacing: -0.02em;
}
#hamburgermenu {
  display: none;
}
.popupmenu {
  position: fixed;
  right: -80%;
  top: 0;
  width: 80%;
  height: 100vh;
  background-color: white;
  display: block;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.popupmenu.popactive {
  transform: translateX(-100%);
}

.popupmenuwrap .closebtn a {
  color: black;
  float: right;
}
.popupmenuwrap .closebtn a span {
  font-size: 41px;
}
.popupmenuwrap {
  padding: 20px;
}
.popupmenuwrap .listmenu {
  margin-top: 15px;
  float: right;
  text-align: end;
  list-style: none;
}
.popupmenuwrap .listmenu li {
  margin: 36px 0;
}
.popupmenuwrap .listmenu li a:hover {
  border-bottom: 1px solid black;
}
.popupmenuwrap .listmenu li a {
  color: black;
  font-size: 21px;
}
.bottomdes.mobile {
  display: none;
}
.socialswrapiconft ul {
  display: flex;
  list-style: none;
  gap: 10px;
}
@media (max-width: 988px) {
  .global_padding {
    padding: 2px 30px;
  }
  nav.navmenuheader {
    display: none;
  }
  #hamburgermenu {
    display: block;
    color: black;
    font-family: var(--mainfont);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a#hamburgermenu span {
    margin-left: 10px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 890px) {
  /* .footer .footerwrap .rightcolumn .listpage {
    flex-direction: column;
  } */
  .footer .footerwrap .uppercontent {
    flex-direction: row;
  }
  .newsletters {
    display: none;
  }
  .newsletters.mobile-version {
    display: block;
  }
  .footer .footerwrap .rightcolumn .bottomdes {
    display: none;
  }
  .footer .footerwrap .leftcolumn {
    padding: 0px 30px 0px 30px;
  }
  .footer .footerwrap .rightcolumn .newsletters {
    display: none;
  }
  .footer .footerwrap .rightcolumn {
    padding: 0px 30px 0px 30px;
  }
  ul.discovery,
  .newsletters {
    margin-top: 20px;
  }
  .bottomdes.mobile {
    display: block;
    padding: 50px 30px;
  }
  .bottomdes.mobile p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: white;
  }
  .footer .footerwrap .rightcolumn .listpage {
    width: 88%;
  }
  .footer .footerwrap .rightcolumn {
    max-width: 50%;
    margin-top: 31px;
  }
}
@media (max-width: 560px) {
  .footer .footerwrap .rightcolumn .listpage {
    flex-direction: column;
  }
  .footer .footerwrap .uppercontent {
    flex-direction: column;
    margin-top: 41px;
  }
  .bottomdes.mobile {
    display: block;
    padding: 14px 30px 20px 30px;
  }
  .footer .footerwrap .socials {
    margin: 37px 16px 0 16px;
    padding: 28px 8px;
  }
}
@media (max-width: 488px) {
  #hamburgermenu {
    font-size: 20px;
  }
  a#hamburgermenu span {
    font-size: 40px;
  }
  .emptywrap h1 {
    font-size: 34px;
    line-height: 73.6px;
  }
  .newsletters.mobile-version form button {
    width: 31%;
  }
  .footer .footerwrap .rightcolumn {
    max-width: 50%;
    margin-top: 31px;
  }
  .footer .footerwrap .leftcolumn {
    padding: 0px 0px 0px 29px;
  }
  .global_padding {
    padding: 2px 9px;
  }
}
