* {
  padding: 0;
  margin: 0;
  font-family: var(--mainfontp);
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: white;
}
img {
  border-radius: 6px;
  transition: transform 0.8s ease;
}
.nextpostwrap .next-post a img:hover {
  transform: scale(1) !important;
}
img:hover {
  transform: scale(1.1); /* Zoom the image on hover */
}
.global_padding {
  padding: 2px 60px;
}
.global_width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.sticky-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: transparent;
  z-index: 1000;
  transition: background-color 0.5s ease;
}
.navmenuheader.editorialnav li a {
  color: white;
}
img#site-logo {
  margin-left: 10px;
  width: 53%;
}
.logocontainer img {
  opacity: 0;
  width: 60%;
  transition: opacity 0.5s ease;
}
.centerheader {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.centerheader nav {
  display: flex;
  align-items: center;
  list-style: none;
}
.centerheader nav > li:hover {
  border-bottom: 1px solid black;
}
.centerheader nav > li {
  margin: 0 15px;
}
.centerheader nav > li > a {
  color: black;
  text-decoration: none;
  line-height: 16px;
}
.headerwrap {
}
.footer img.logo {
  height: 120px;
}
/* .navmenuheader .activenav {
  border-bottom: 1px solid black;
} */
.footer {
  background-color: black;
}
.footer .footerwrap .uppercontent {
  display: flex;
  justify-content: space-between;
}
.footer .footerwrap .leftcolumn {
  padding: 70px 30px 50px 30px;
  max-width: 300px;
  width: 100%;
}
.footer .footerwrap .leftcolumn h2 {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: white;
  text-align: left;
  margin-top: 30px;
  letter-spacing: 1px;
}
.footer .footerwrap .rightcolumn p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: white;
}
.footer .footerwrap .rightcolumn {
  max-width: 818px;
  padding: 70px 30px 50px 30px;
  width: 100%;
}
.footer .footerwrap .rightcolumn .listpage h1,
.newsletters.mobile-version h1 {
  color: white;
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.footer .footerwrap .rightcolumn .listpage ul li {
  margin: 20px 0;
}
.footer .footerwrap .rightcolumn .listpage ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.footer .footerwrap .rightcolumn .listpage {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer .footerwrap .rightcolumn .bottomdes {
  margin-top: 15px;
}
.footer .footerwrap .rightcolumn .newsletters p,
.newsletters.mobile-version p {
  font-family: var(--mainfontp);
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 400;
  padding: 28px 0 18px 0;
  line-height: 21px;
  text-align: left;
  color: white;
}
/* .newsletters.mobile-version {
  display: none;
} */

.newsletters.mobile-version form {
  display: flex;
  align-items: center;
}
.newsletters.mobile-version form input {
  width: 100%;
}
.popupmenu .newlistmenu a div {
  margin: 30px 12px !important;
}
.newsletters.mobile-version form button {
  width: 17%;
  margin-left: 10px;
}
.newsletters.mobile-version {
  padding: 50px 30px;
}
.footer .footerwrap .rightcolumn .newsletters form input,
.newsletters.mobile-version form input {
  height: 40px;
  padding-left: 16px;
}
.footer .footerwrap .rightcolumn .newsletters form button,
.newsletters.mobile-version form button {
  border: none;
  background-color: #e37052;
  padding: 10px;
  height: 42px;
  cursor: pointer;
  color: white;
}
.footer .footerwrap .socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 37px 16px;
  color: white;
  border-top: 1px solid white;
}
.footer .footerwrap .socials h1 {
  font-family: var(--mainfontp);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  letter-spacing: 1px;
}
.centerheader nav .collection-header a {
  display: flex;
  align-items: center;
}
.centerheader nav .collection-header {
  position: relative;
}
.centerheader nav .collection-header .sub-menu {
  display: none;
}
.centerheader nav .collection-header.activenav .sub-menu {
  display: block;
}
.centerheader nav .collection-header.activenav .sub-menu {
  position: absolute;
  background-color: white;
  list-style: none;
  padding: 14px;
  width: 256px;
}
.centerheader nav .collection-header.activenav .sub-menu li:hover {
  border-bottom: 1px solid black;
}
.centerheader nav .collection-header.activenav .sub-menu li a {
  color: black !important;
}
.centerheader nav .collection-header.activenav .sub-menu li {
  padding: 15px 0 15px 0px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
}
.error {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.emptywrap h1 {
  text-align: center;
  font-family: var(--maintitlefonts);
  font-size: 72px;
  font-weight: 400;
  line-height: 93.6px;
  letter-spacing: -0.02em;
}
#hamburgermenu {
  display: none;
}
.popupmenu {
  position: fixed;
  flex-direction: column;
  right: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}
.popupmenu .socialswrapiconft {
  width: 100%;
  padding: 0 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupmenu .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 73px;
}
.popupmenu .logo img {
  width: 183px;
  height: 80px;
}
.popupmenu .newlistmenu a div h1,
.popupmenu .newlistmenu li div h1 {
  margin-top: 0px;
  font-size: 26px;
  font-weight: 400;
  list-style: none;
  font-family: var(--mainfont);
}
.popupmenu .newlistmenu a,
.popupmenu .newlistmenu li {
  padding: 12px 0;
  list-style: none;
  color: black;
}
.popupmenu .newlistmenu a div,
.popupmenu .newlistmenu li div {
  border-bottom: 1px solid #d9d9d9;
  /* margin: 12px 10px; */
  width: 95%;
  padding: 11px 0;
  margin: 0 12px;
}
.popupmenu .sub-menu-collections {
  display: none;
  list-style: none;
  margin-left: 36px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-align: left;
}
.popupmenu .newlistmenu li a {
  color: black;
  padding: 0 23px;
}
.popupmenu .newsletters.mobile-version h1 {
  color: black;
}
.popupmenu .newsletters.mobile-version p {
  color: black;
}

.popupmenu .menu-collections div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popupmenu .menu-collections.activesubmenu {
  width: 100%;
  background-color: #f4d77e;
}
.popupmenu .menu-collections.activesubmenu div {
  border-bottom: none;
}
.popupmenu .menu-collections.activesubmenu div span {
  color: black;
  margin-right: 10px;
  transform: rotate(90deg);
}
.popupmenu .menu-collections.activesubmenu div a {
  color: black;
}
.popupmenu.popactive {
  transform: translateX(-100%);
}

.popupmenuwrap .closebtn a {
  color: black;
  float: right;
}
.popupmenuwrap .closebtn a span {
  font-size: 41px;
}
.popupmenuwrap {
  padding: 34px 34px 9px 34px;
}
.popupmenu .newsletters.mobile-version {
  padding: 24px 27px;
  margin-top: 20px;
}
.popupmenuwrap .listmenu {
  margin-top: 15px;
  float: right;
  text-align: end;
  list-style: none;
}
.popupmenuwrap .listmenu li {
  margin: 36px 0;
}
.popupmenuwrap .listmenu li a:hover {
  border-bottom: 1px solid black;
}
.popupmenuwrap .listmenu li a {
  color: black;
  font-size: 21px;
}
.bottomdes.mobile {
  display: none;
}
.socialswrapiconft ul {
  margin-top: 40px;
  display: flex;
  list-style: none;
  gap: 10px;
  align-items: center;
}
.footer-icon.rounded {
  padding: 3px;
  border: solid 2px;
}
img.rounded-icon-black {
  border: 3px solid black;
  padding: 3px;
  width: 29px;
  margin: 0 6px;
}
img.rounded-icon-black-insta {
  padding: 3px;
  width: 43px;
  margin: 0 6px;
}
@media (max-width: 988px) {
  .global_padding {
    padding: 2px 30px;
  }
  nav.navmenuheader {
    display: none;
  }
  #hamburgermenu {
    display: block;
    color: black;
    font-family: var(--mainfont);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
  }
  a#hamburgermenu span {
    margin-left: 10px;
    font-size: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img:hover {
    transform: scale(1);
  }
}
@media (max-width: 890px) {
  /* .footer .footerwrap .rightcolumn .listpage {
    flex-direction: column;
  } */
  .footer .footerwrap .uppercontent {
    flex-direction: row;
  }
  .newsletters {
    display: none;
  }
  .newsletters.mobile-version {
    display: block;
  }
  .footer .footerwrap .rightcolumn .bottomdes {
    display: none;
  }
  .footer .footerwrap .rightcolumn {
    padding: 0px 0px 0px 30px;
  }
  .footer .footerwrap .rightcolumn .newsletters {
    display: none;
  }
  /* .footer .footerwrap .rightcolumn {
    padding: 0px 30px 0px 30px;
  } */
  ul.discovery,
  .newsletters {
    margin-top: 0px;
  }
  .bottomdes.mobile {
    display: block;
    padding: 50px 30px;
  }
  .bottomdes.mobile p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: white;
  }
  .footer .footerwrap .rightcolumn .listpage {
    width: 100%;
  }
  .footer .footerwrap .rightcolumn {
    max-width: 90%;
    margin-top: 31px;
  }
  .footer img.logo {
    height: 90px;
  }
}
@media (max-width: 560px) {
  .footer .footerwrap .rightcolumn .listpage {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer .footerwrap .uppercontent {
    flex-direction: column;
    margin-top: -20px;
  }
  .bottomdes.mobile {
    display: block;
    padding: 14px 30px 20px 30px;
  }
  .footer .footerwrap .socials {
    margin: 37px 16px 0 16px;
    padding: 28px 8px;
  }
  .footer .footerwrap .leftcolumn {
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer img.logo {
    margin-right: 59px;
  }
}
@media (max-width: 488px) {
  #hamburgermenu {
    font-size: 20px;
  }
  a#hamburgermenu span {
    font-size: 33px;
  }
  .emptywrap h1 {
    font-size: 34px;
    line-height: 73.6px;
  }
  .newsletters.mobile-version form button {
    width: 31%;
  }
  .footer .footerwrap .rightcolumn {
    max-width: 90%;
    margin-top: 31px;
  }
  .footer .footerwrap .leftcolumn {
    padding: 0px 0px 0px 29px;
  }
  .global_padding {
    padding: 2px 9px;
  }
}
@media (max-width: 388px) {
  .popupmenu .logo img {
    width: 151px;
    height: 60px;
  }
  .popupmenu .logo {
    margin-right: 58px;
  }
}
