.bycategory {
  margin-top: 105px;
  margin-bottom: 105px;
}
.homecollection {
  display: flex;
  justify-content: space-around;
}
.bycategory .title_prod {
  margin-bottom: 50px;
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  color: #652b41;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  text-align: right;
}
.homecollection .trending {
  width: 40%;
  position: relative;
}
.homecollection .trending .logooverlay {
  position: absolute;
  top: -109px;
  left: 32px;
  right: 0;
}
.homecollection .trending .logooverlay {
  transition: opacity 0.5s ease;
}
.homecollection .articles {
  width: 55%;
  gap: 50px;
  display: flex;
}
/* .list_of_articles {
  margin-left: 57px;
} */
.homecollection .list_of_articles .latestarticle {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: #652b41;
}
.homecollection .list_of_articles .viewcollection {
  background-color: #0c0b0b;
  margin-top: 43px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  color: white;
  padding: 20px 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.homecollection .list_of_articles .viewcollection span {
  margin-left: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}
.originals {
  width: 100%;
  height: inherit;
  padding: 60px 0;
  background-color: #698f92;
}

.originals h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  color: white;
  text-align: left;
}
.originalslides {
  margin-top: 48px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  margin-left: -16px !important;
}

.trending_on_socials_wrap {
  background-color: #f8f7fd;
  padding: 60px 0;
}

.trending_on_socials h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  color: #e37052;
  text-align: center;
}
.home .tooglepanel {
  padding: 100px 0;
}
/* Shop with up wrapper */

.shopwrap {
  background-color: #e37052;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shopwrap .shopwraplist {
  padding: 107px 50px 37px 50px;
}
.shopwrap .shopwraplist h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  text-align: left;
}
.shopwrap .shopbtn {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.shopwrap .shopbtn p {
  max-width: 941px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 36px;
  text-align: left;
}
.secondarybutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px 29px;
}
.tabcontents > div {
  display: none;
}
.tabcontents > .active {
  display: block;
}
.tabcontents {
  width: 100%;
  margin-top: 37px;
}
.tabwraps {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 70px;
  justify-content: center;
}
/* tabs */
.tablinks {
  border-bottom: 2px solid white;
  display: flex;
  list-style: none;
  max-width: 1320px;
  margin-top: 37px;
  width: 100%;
  height: 65px;
  align-items: center;
  justify-content: space-between;
}
.tablinks button {
  width: 440px;
  height: 65px;
  top: 302px;
  left: 60px;
  padding: 0px 100px 0px 100px;
  gap: 0px;
  border: 0px 0px 2px 0px;
  opacity: 0px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: white;
}
.tablinks .tabactive {
  background-color: #f4d77e;
  border-radius: 20px 20px 0 0;
  color: black;
}
.buttonsarrow {
  display: flex;
  align-items: end;
  justify-content: end;
}
.buttonsarrow #arrow-right {
  margin-left: 20px;
}
.buttonsarrow button {
  border: 1px solid white;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: white;
}

.ourlatest .ourlatestwrap {
  padding: 100px 60px;
}
.ourlatest .ourlatestwrap h2 {
  font-family: var(--maintitlefonts);
  font-size: 62px;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ce3e55;
}
.tooglepanel-mobile {
  max-width: 716px;
  width: 100%;
  padding: 49px 0;
  display: none;
}

@media (max-width: 1440px) {
  .homecollection {
    padding: 10px 30px;
  }
  .collections .homecollection {
    padding: 10px 0px;
  }
  .bycategory .title_prod {
    padding: 0 30px;
  }
  .tooglepanel {
    padding: 0px 0px;
  }
  .trending_on_socials_wrap {
    padding: 50px 15px;
  }

  .originals_title {
    padding: 0px 15px;
  }
  .homecollection .list_of_articles .viewcollection {
    padding: 20px 8px;
  }
  .buttonsarrow {
    padding-right: 16px;
  }
}
@media (max-width: 1252px) {
  #missionary .listofcontent {
    flex-direction: column;
  }
  .tooglepanel {
    display: none;
  }
  .tooglepanel-mobile {
    display: block;
  }

  .homecollection .articles {
    width: 100%;
    justify-content: space-between;
  }
  .bycategory .title_prod {
    margin-bottom: 0px;
    line-height: 52.4px;
  }
  .bycategory {
    margin-top: 16px;
    margin-bottom: 42px;
  }
  .shopwrap .shopwraplist {
    padding: 27px 50px 36px 50px;
  }
  .shopwrap .shopbtn {
    flex-direction: column;
    align-items: start;
  }
  .secondarybutton {
    padding: 20px 29px;
    margin-top: 31px;
  }
  .shopwithus .left-column .infosection {
    max-width: 309px;
  }
  .shopwithus .columns {
    padding: 0 30px;
    gap: 20px;
    justify-content: space-between;
  }
  .tablinks {
    max-width: 93%;
    width: 96%;
  }
  .tablinks li {
    width: 100%;
  }
  .tablinks button {
    max-width: 375px;
    width: 100%;
    padding: 0px 30px 0px 20px;
  }
}
@media (max-width: 888px) {
  .column.right-column {
    display: none;
  }
  .tablinks button {
    width: 100%;
    padding: 0px 60px 0px 60px;
  }

  .tablinks button {
    width: 165px;
    padding: 0px 5px 0px 5px;
  }
  .shopwithus .left-column .infosection {
    max-width: 90%;
  }
  .shopwithus .left-column li {
    max-width: 100%;
  }
  .shopwithus .left-column {
    align-items: center;
    justify-content: space-between;
  }
  .shopwithus .mainleft .title {
    max-width: 90%;
  }
}

@media (max-width: 666px) {
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    margin-left: 0px !important;
  }
  .homecollection .articles {
    flex-direction: column-reverse;
  }
  .articlefeatured_collection .articlefeatured img {
    max-width: 100%;
    width: 100%;
  }
  .articlefeatured_collection .articlefeatured .articlefeatured_details h3 {
    margin-top: 32px;
    margin-bottom: 27px;
  }
  .originals h2,
  .bycategory .title_prod,
  .trending_on_socials h2,
  .shopwrap .shopwraplist h1,
  .ourlatest .ourlatestwrap h2,
  .shopwithus .mainleft .title h2 {
    font-size: 44px;
  }
  .shopwithus .left-column li:nth-child(2) {
    margin-left: 0px;
    margin-top: 20px;
  }
  .shopwithus .left-column li {
    max-width: 100%;
  }
  .shopwithus .left-column {
    flex-direction: column;
  }
  .shopwithus .left-column img {
    height: 218px;
  }
  .shopwrap .shopwraplist {
    padding: 26px 30px 36px 30px;
  }
  .ourlatest .ourlatestwrap {
    padding: 45px 30px;
  }
  .ourlatestcollection li a img {
    width: 100%;
    height: 308px;
  }
  .collections .homecollection .articles {
    flex-direction: column;
  }
  .buttonsarrow button {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 488px) {
  .trending_on_socials_wrap {
    padding: 4px 10px;
  }
  .tablinks button {
    width: 116px;
    padding: 0px 0px 0px 0px;
    font-size: 15px;
  }
  .tablinks {
    max-width: 90%;
  }
  .articlefeatured_collection .articlefeatured .articlefeatured_details h3 {
    margin-top: 69px;
    margin-bottom: 29px;
  }
  .buttonsarrow {
    margin-top: 25px;
  }
  .ourlatestcollection li a img {
    height: 251px;
  }
  .homecollection .list_of_articles .latestarticle {
    font-size: 24px;
  }
}

@media (max-width: 375px) {
  .tablinks button {
    width: 103px;
    padding: 0px 0px 0px 0px;
    font-size: 14px;
  }
  .buttonsarrow button {
    width: 40px;
    height: 40px;
  }
  .articlefeatured_collection .articlefeatured .articlefeatured_details h3 {
    margin-top: 75px;
    margin-bottom: 43px;
  }
}
