.bycategory {
  margin-top: 105px;
  margin-bottom: 105px;
}
.homecollection {
  display: flex;
  justify-content: space-around;
}
.bycategory .title_prod {
  margin-bottom: 50px;
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  color: #652b41;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  text-align: right;
}
.homecollection .trending {
  width: 40%;
  position: relative;
}
.homecollection .trending .logooverlay {
  position: absolute;
  top: -109px;
  left: 32px;
  right: 0;
}
.homecollection .trending .logooverlay {
  transition: opacity 0.5s ease;
}
.homecollection .articles {
  width: 55%;
  gap: 50px;
  display: flex;
}
/* .list_of_articles {
  margin-left: 57px;
} */
.homecollection .list_of_articles .latestarticle {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #698f92;
  margin: 0 0 8px 0;
}
.homecollection .list_of_articles .viewcollection {
  background-color: #0c0b0b;
  margin-top: 43px;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  color: white;
  padding: 20px 28px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
}
.homecollection .list_of_articles .viewcollection span {
  margin-left: 20px;
  text-align: center;
  display: flex;
  align-items: center;
}
.originals {
  width: 100%;
  height: inherit;
  padding: 60px 0;
  background-color: #698f92;
}

.originals h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  font-weight: 400;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  color: white;
  text-align: left;
}
.originalslides {
  margin-top: 48px;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  margin-left: -16px !important;
}

.trending_on_socials_wrap {
  background-color: #f8f7fd;
  padding: 60px 0;
}

.trending_on_socials h2 {
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  color: #e37052;
  text-align: center;
}
.home .tooglepanel {
  padding: 100px 0;
}
/* Shop with up wrapper */

.shopwrap {
  background-color: #e37052;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.shopwrap .shopwraplist {
  padding: 107px 50px 37px 50px;
}
.shopwrap .shopwraplist h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 62px;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  text-align: left;
}
.shopwrap .shopbtn {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.shopwrap .shopbtn p {
  max-width: 941px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-top: 36px;
  text-align: left;
}
.secondarybutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 20px 29px;
}
.tabcontents > div {
  display: none;
}
.tabcontents > .active {
  display: block;
}
.tabcontents {
  width: 100%;
  margin-top: 37px;
}
.tabwraps {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding-bottom: 70px;
  justify-content: center;
}
/* tabs */
.tablinks {
  border-bottom: 2px solid white;
  display: flex;
  list-style: none;
  max-width: 1320px;
  margin-top: 37px;
  width: 100%;
  height: 65px;
  align-items: center;
  justify-content: space-between;
}
.tablinks button {
  width: 440px;
  height: 65px;
  top: 302px;
  left: 60px;
  padding: 0px 158px 0px 164px;
  gap: 0px;
  border: 0px 0px 2px 0px;
  opacity: 0px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: white;
}
.tablinks .tabactive {
  background-color: #f4d77e;
  border-radius: 20px 20px 0 0;
  color: black;
}
.buttonsarrow {
  display: flex;
  align-items: end;
  justify-content: end;
}
.buttonsarrow #arrow-right {
  margin-left: 20px;
}
.buttonsarrow button {
  border: 1px solid white;
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  color: white;
}

.ourlatest .ourlatestwrap {
  padding: 100px 60px;
}
.ourlatest .ourlatestwrap h2 {
  font-family: var(--maintitlefonts);
  font-size: 62px;
  font-weight: 700;
  line-height: 74.4px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #ce3e55;
}

@media (max-width: 1440px) {
  .homecollection {
    padding: 10px;
  }
  .bycategory .title_prod {
    padding: 0 15px;
  }
  .tooglepanel {
    padding: 0px 0px;
  }
  .trending_on_socials_wrap {
    padding: 50px 15px;
  }
  .originals_title {
    padding: 0px 15px;
  }
  .homecollection .list_of_articles .viewcollection {
    padding: 20px 23px;
  }
  .buttonsarrow {
    padding-right: 16px;
  }
}
@media (max-width: 888px) {
  .original_collections li img {
    width: 262px;
    height: 285px;
    object-fit: cover;
  }
  .centerheader {
    display: none;
  }
}
@media (max-width: 666px) {
  .slick-slider .slick-track,
  .slick-slider .slick-list {
    margin-left: 0px !important;
  }
}

@media (max-width: 488px) {
  .trending_on_socials h2 {
    font-size: 28px;
  }
  .trending_on_socials_wrap {
    padding: 4px 10px;
  }
}
