.missionarywrap {
  position: relative;
}
.missionarywrap a {
  color: black;
}
.missionarywrap .logooverlay {
  position: absolute;
  width: 385.99px;
  height: 160px;
  top: -100px;
}
.missionaryfrontwrap .first-latest img {
  max-width: 451px;
  width: 100%;
  object-fit: cover;
  height: 411px;
}
.missionaryfrontwrap .first-latest {
  display: flex;
  align-items: center;
}
.missionaryfrontwrap .first-latest .infocontent {
  margin-top: 49px;
}
.missionaryfrontwrap .first-latest .infocontent h2 {
  font-family: var(--maintitlefonts);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
}
.missionaryfrontwrap .first-latest .infocontent p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  margin-top: 28px;
}
.missionaryfrontwrap {
  max-width: 899px;
  width: 100%;
  padding: 0;
}
.missionaryfrontwrap .second-latest {
  display: flex;
  width: 100%;
}
.missionaryfrontwrap .second-latest .first-second-latest {
  max-width: 395px;
  width: 100%;
  height: 267px;
  background-position: center;
  background-size: cover;
  padding: 0 17px 17px 17px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
.missionaryfrontwrap .second-latest .first-second-latest h2 {
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: white;
}
.missionaryfrontwrap .second-latest .first-second-latest p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #f4d77e;
}
.missionaryfrontwrap .second-latest #second-third-latest {
  color: black;
  max-width: 391px;
  width: 100%;
}
.missionaryfrontwrap .second-latest .second-third-latest {
  padding: 16px 0 12px 50px;
}
.missionaryfrontwrap .second-latest .second-third-latest h2 {
  font-family: var(--maintitlefonts);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: -0.02em;
  text-align: left;
}
.missionaryfrontwrap .second-latest .second-third-latest h3 {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 19px 0;
}

.missionaryfrontwrap .second-latest .second-third-latest p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.missionaryfrontwrap .next-three-posts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 0 0 0;
  border-top: 1px solid #d9d9d9;
}
.missionaryfrontwrap .next-three-posts .post {
  max-width: 275px;
  width: 100%;
}
.missionaryfrontwrap .next-three-posts .post .listofcategory .category {
  color: #e37052;
}
.missionaryfrontwrap .next-three-posts .post p {
  font-family: var(--maintitlefonts);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 10px;
}
.trendingpost {
  max-width: 426px;
  width: 100%;
}
.trendingpost .first-latest-trending {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 267px;
  padding: 0 20px 16px 23px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
.trendingpost .first-latest-trending .infocontent h2 {
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.trendingpost .first-latest-trending .infocontent p {
  font-family: var(--mainfont);
  color: #f4d77e;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.trendingpost .next-three-posts-trending .post img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.trendingpost .next-three-posts-trending {
  color: black;
}
.next-three-posts-trending .post:not(:first-child):not(:last-child) {
  border-top: 1px solid #d9d9d9;
}
.trendingpost .next-three-posts-trending .post {
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 20px 0;
}
#missionary .listofcontent {
  display: flex;
  justify-content: space-between;
}
.missionary .listofcontent .post .left {
  max-width: 263px;
  width: 100%;
}
.missionary .listofcontent .post p {
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.missionary .trendinglist #trendingtitle {
  color: #698f92;
  font-family: var(--mainfont);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.trendingpost .buttontrendwrap .viewcollection {
  color: white;
  background-color: black;
  padding: 16px 21px;
  display: flex;
  align-items: center;
}
.trendingpost .buttontrendwrap .viewcollection span {
  margin-left: 4px;
  display: flex;
  align-items: center;
}
.trendingpost .buttontrendwrap {
  float: right;
  margin-top: 10px;
}

@media (max-width: 1440px) {
  .missionaryfrontwrap,
  .trendinglist {
    padding: 0 30px;
  }
}
