.missionarywrap {
  position: relative;
}
.missionarywrap a {
  color: black;
}
.missionaryfrontwrap.mobile {
  display: none;
}
.missionaryfrontwrap.desktop {
  display: block;
}
.missionarywrap .logooverlay {
  position: absolute;
  width: 385.99px;
  height: 160px;
  top: -100px;
}

.missionaryfrontwrap .first-latest img {
  max-width: 451px;
  width: 100%;
  object-fit: cover;
  height: 411px;
}
.missionaryfrontwrap .first-latest {
  display: flex;
  align-items: center;
}
.missionaryfrontwrap .first-latest .infocontent {
  margin-top: 49px;
}
.missionaryfrontwrap .first-latest .infocontent h2 {
  font-family: var(--maintitlefonts);
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -0.02em;
  text-align: left;
}
.missionaryfrontwrap .first-latest .infocontent p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  margin-top: 28px;
  letter-spacing: 1px;
}
.missionaryfrontwrap {
  max-width: 987px;
  width: 100%;
  padding: 0;
  list-style: none;
}
.missionaryfrontwrap .second-latest {
  display: flex;
  width: 100%;
}
.missionaryfrontwrap .second-latest .first-second-latest {
  max-width: 473px;
  width: 100%;
  height: 267px;
  background-position: center;
  background-size: cover;
  padding: 0 17px 17px 17px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
.missionaryfrontwrap .second-latest .first-second-latest h2 {
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: white;
}
.missionaryfrontwrap .second-latest .first-second-latest p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #f4d77e;
}
.missionaryfrontwrap .second-latest #second-third-latest {
  color: black;
  max-width: 391px;
  width: 100%;
}
.missionaryfrontwrap .second-latest .second-third-latest {
  padding: 16px 0 12px 50px;
}
.missionaryfrontwrap .second-latest .second-third-latest h2 {
  font-family: var(--maintitlefonts);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: -0.02em;
  text-align: left;
}
.missionaryfrontwrap .second-latest .second-third-latest h3 {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 19px 0;
  letter-spacing: 1px;
}

.missionaryfrontwrap .second-latest .second-third-latest p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
.missionaryfrontwrap .next-three-posts {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px 0 0 0;
  border-top: 1px solid #d9d9d9;
}
.missionaryfrontwrap .next-three-posts .post {
  max-width: 275px;
  width: 100%;
}
.missionaryfrontwrap .next-three-posts .post .listofcategory .category {
  color: #e37052;
}
.missionaryfrontwrap .next-three-posts .post p {
  font-family: var(--maintitlefonts);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  margin-top: 10px;
}
.trendingpost {
  max-width: 426px;
  width: 100%;
}
.trendingpost .first-latest-trending {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 267px;
  padding: 0 20px 16px 23px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
}
.trendingpost .first-latest-trending .infocontent h2 {
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.trendingpost .first-latest-trending .infocontent p {
  font-family: var(--mainfont);
  color: #f4d77e;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  letter-spacing: 1px;
}
.trendingpost .next-three-posts-trending .post img {
  height: 120px;
  width: 120px;
  object-fit: cover;
}
.trendingpost .next-three-posts-trending {
  color: black;
}
.next-three-posts-trending .post:not(:first-child):not(:last-child) {
  border-top: 1px solid #d9d9d9;
}
.trendingpost .next-three-posts-trending .post {
  display: flex;
  color: black;
  justify-content: space-between;
  padding: 20px 0;
}
#missionary .listofcontent {
  display: flex;
  justify-content: space-between;
}
.missionary .listofcontent .post .left {
  max-width: 263px;
  width: 100%;
}
.missionary .listofcontent .post p {
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.missionary .trendinglist #trendingtitle {
  color: #698f92;
  font-family: var(--mainfont);
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.trendingpost .buttontrendwrap .viewcollection {
  color: white;
  background-color: black;
  padding: 16px 21px;
  display: flex;
  align-items: center;
}
.trendingpost .buttontrendwrap .viewcollection span {
  margin-left: 4px;
  display: flex;
  align-items: center;
}
.trendingpost .buttontrendwrap {
  float: right;
  margin-top: 10px;
}

/*slider  */

@media (max-width: 1440px) {
  .trendinglist {
    padding: 0 30px;
  }
  .missionarywrap {
    padding: 0 30px;
  }
  .missionaryfrontwrap .second-latest .first-second-latest {
    max-width: 321px;
  }
}
@media (max-width: 1252px) /* Show only the first list item */ {
  .missionaryfrontwrap.mobile {
    display: block;
    max-width: 100%;

    width: 100%;
  }
  .trendinglist {
    padding: 0 15px;
  }
  .missionaryfrontwrap.mobile li a .first-latest {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: start;
  }
  .missionaryfrontwrap.mobile li a .first-latest .infocontent {
    width: 100%;
  }
  .missionaryfrontwrap.mobile li a .first-latest .infocontent h3 {
    font-family: var(--mainfont);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    letter-spacing: 1px;
  }
  .missionaryfrontwrap .first-latest .infocontent {
    margin-top: 16px;
  }
  .missionaryfrontwrap.mobile li a .first-latest img {
    max-width: 100%;
  }
  .missionaryfrontwrap.desktop {
    display: none;
  }
  /* Trending */
  .trendinglist {
    margin-top: 30px;
  }
  .trendingpost {
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto; /* Two rows, height adjusts based on content */
    gap: 20px;
  }

  .trendingpost .first-trendingcont {
    grid-column: span 2;
  }
  .trendingpost .buttontrendwrap {
    grid-column: span 2;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  .trendingpost .buttontrendwrap .viewcollection {
    width: 122px;
  }
  .wrapslider {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  /* slider */
  ul.original_collections.responsive.slick-initialized.slick-slider {
    width: 92%;
  }
}

/* toggle mobile */
.tabstoggle {
  list-style: none;
}
.tabstoggle .decor,
#pannelwrap1 {
  background-color: #652b41;
}
#pannelwrap1 .contentwrapping .listofcontent .listofcategory .category,
#pannelwrap3 .contentwrapping .listofcontent .listofcategory .category,
#pannelwrap4 .contentwrapping .listofcontent .listofcategory .category {
  color: #f4d77e;
}
#pannelwrap2 .contentwrapping .listofcontent .listofcategory .category {
  color: #652b41;
}
.tabstoggle .house_keeping,
#pannelwrap2 {
  background-color: #debb50;
}
.tabstoggle .home_improvements,
#pannelwrap3 {
  background-color: #e37052;
}
.tabstoggle .gardening,
#pannelwrap4 {
  background-color: #ce3e55;
}
.tabstoggle .whattobuy,
#pannelwrap5 {
  background-color: #698f92;
}
.tabstoggle {
  display: flex;
}
.tabstoggle li {
  max-width: 179px;
  height: 260px;
  width: 100%;
  padding: 30px 0px 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.tabstoggle li h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}
.tabstoggle li a {
  color: white;
  width: 141px;
  margin-bottom: 51px;
  transform: rotate(270deg);
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.togglemobilewrap {
  list-style: none;
}
.togglemobilewrap li {
  padding: 36px 15px 18px 15px;
}
.togglemobilewrap .pannelcontent .contentwrapping {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.togglemobilewrap .pannelcontent .contentwrapping .recentcontent {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.togglemobilewrap .pannelcontent .contentwrapping .recentcontent .rigthcorner {
  width: 100%;
}
.togglemobilewrap
  .pannelcontent
  .contentwrapping
  .recentcontent
  .rigthcorner
  a {
  font-size: 18px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: end;
}
.togglemobilewrap .pannelcontent .contentwrapping .recentcontent a {
  max-width: 87%;
  width: 100%;
}
.togglemobilewrap .pannelcontent .contentwrapping .recentcontent a h1 {
  font-family: var(--maintitlefonts);
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.02em;
  text-align: left;
  margin: 20px 0;
}
.togglemobilewrap .pannelcontent .contentwrapping .recentcontent a h2 {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  letter-spacing: 1px;
}
.togglemobilewrap .pannelcontent .contentwrapping .recentcontent a p {
  font-family: var(--maintitlefonts);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin-top: 20px;
}
.togglemobilewrap .pannelcontent .contentwrapping .recentcontent a img {
  max-width: 100%;
  height: 308px;
  width: 100%;
  object-fit: cover;
}

.togglemobilewrap .pannelcontent .contentwrapping .listofcontent {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.togglemobilewrap .pannelcontent .contentwrapping .listofcontent {
  max-width: 87%;
  width: 100%;
  margin: 35px 0 56px 0;
  padding-bottom: 48px;
  border-bottom: 1px solid white;
}
.togglemobilewrap .pannelcontent .contentwrapping .listofcontent .list-item h2 {
  font-family: var(--maintitlefonts);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}
.togglemobilewrap
  .pannelcontent
  .contentwrapping
  .listofcontent
  .list-item
  .listofcategory
  .category {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  letter-spacing: 1px;
}
.twolistview {
  display: none;
}
.front_list {
  list-style: none;
  margin-top: 26px;
}
.front_list .front_list_wrap a img {
  width: 282px;
  object-fit: cover;
  height: inherit;
}
.front_list .front_list_wrap {
  padding: 0px 30px;
}
.front_list .front_list_wrap a {
  padding: 23px 0px;
  color: black;
  display: flex;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.front_list .front_list_wrap a .listofcategory {
  margin-left: 16px;
  max-width: 348px;
  width: 100%;
}
.front_list .front_list_wrap a .listofcategory h2 {
  font-family: var(--maintitlefonts);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: -0.02em;
  text-align: left;
}
.front_list .front_list_wrap a .listofcategory h3 {
  font-family: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  letter-spacing: 1px;
}
.front_list .front_list_wrap a .listofcategory p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  margin-top: 15px;
}
@media (max-width: 1168px) {
  .twolistview {
    display: block;
  }
}
@media (max-width: 768px) {
  ul.original_collections.responsive.slick-initialized.slick-slider {
    width: 96%;
  }
  .front_list .front_list_wrap a {
    flex-direction: row;
    gap: 30px;
  }
  .front_list .front_list_wrap:last-child a {
    flex-direction: row-reverse;
    gap: 30px;
  }
  .trendingpost .first-trendingcont {
    width: 96%;
  }
  .trendingpost .next-three-posts-trending .post img {
    height: 60px;
    width: 120px;
  }
  .trendingpost .buttontrendwrap {
    display: none;
  }
  .next-three-posts-trending {
    width: 96%;
  }
  .trendingpost {
    gap: 0px;
    /* justify-items: center; */
  }

  .trendingpost .next-three-posts-trending .post {
    width: 91%;
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 20px 0;
  }
  .trendingpost .next-three-posts-trending .listofcategory .category {
    margin: 6px 0;
    font-size: 10px !important;
    font-weight: 400;
    line-height: 21px;
    color: #e37052;
  }
  .missionary .listofcontent .post p {
    font-size: 9px;
    line-height: 14px;
  }
}
@media (max-width: 488px) {
  .togglemobilewrap .pannelcontent .contentwrapping .listofcontent {
    max-width: 100%;
  }
  .trendingpost .first-trendingcont {
    width: 93%;
  }
  .trendingpost {
    /* display: flex;
    flex-direction: column; */
  }
  .front_list .front_list_wrap a img {
    width: 42%;
  }
  .front_list .front_list_wrap a .listofcategory {
    margin-left: 0px;
  }

  .missionaryfrontwrap .first-latest img {
    height: 200px;
  }
  .front_list .front_list_wrap {
    padding: 0px 13px;
  }
  .togglemobilewrap .pannelcontent .contentwrapping .recentcontent a {
    max-width: 100%;
  }
  .front_list .front_list_wrap a .listofcategory h2 {
    font-size: 16px;
    line-height: 26px;
    font-weight: bold;
  }
}
