@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@font-face {
  font-family: "Mathilga";
  src: url("../fonts/Mathilga-lgwXD.otf") format("opentype");
}

@font-face {
  font-family: "Acta";
  src: url("../fonts/acta-bold.otf") format("opentype");
}
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta-RegularDEMO.otf") format("opentype");
}
@font-face {
  font-family: "ActaBold";
  src: url("../fonts/acta-bold.otf") format("opentype");
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/Futura Std Medium.otf") format("opentype");
}
@font-face {
  font-family: "PTserrif";
  src: url("../fonts/PTSerif-Regular.ttf") format("opentype");
}
:root {
  --mainfont: "Recoleta", sans-serif;
  --maintitlefonts: "Recoleta", sans-serif;
  --mainfontp: "Recoleta", sans-serif;
  --maintitlechar: "Futura", sans-serif;
  --maintitleserif: "PTserrif", sans-serif;
  --maintitleActabod: "ActaBold", sans-serif;
}
