.editorial-header {
  z-index: -1;
  margin-top: -120px;
  width: 100%;
  height: 900px;
  position: relative;
}
.editorial-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000038;
}
.editorial-header .wrapcontent {
  height: 900px;
  flex-direction: column;
  display: flex;
  align-items: end;
  justify-content: center;
  color: white;
  width: 100%;
}
.editorial-header .wrapcontent .headingcontent,
.editorial-header .wrapcontent .authordescrip {
  max-width: 660px;
  width: 100%;
  z-index: 2;
}
.editorial-header .wrapcontent .authordescrip {
  margin-top: 170px;
}
.editorial-header .wrapcontent .authordescrip .authorwrap {
  float: right;
}
.editorial-header .wrapcontent .authordescrip .authorwrap h1,
.editorial-header .wrapcontent .authordescrip .authorwrap h2 {
  font-size: 18px;
  font-weight: 500;
  line-height: 23.4px;
  text-align: left;
}
.editorial-header .wrapcontent .headingcontent h1 {
  margin-bottom: 25px;
  font-family: var(--maintitlefonts);
  font-size: 72px;
  font-weight: 400;
  line-height: 93.6px;
  letter-spacing: -0.02em;
  text-align: left;
}
.editorial-header .wrapcontent .headingcontent p {
  font-family: var(--maintitlefonts);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.editorial .excerptwrap {
  padding: 110px 60px;
  display: flex;
}
.editorial .excerptwrap .leftcorner {
  max-width: 350px;
  width: 100%;
}
.editorial .excerptwrap .leftcorner .morelikethis {
}
.morelikethiswraplist li a .morelikethiscategory .category {
  font-family: var(--mainfont) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  text-align: left !important;
  color: #ce3e55 !important;
  margin: 10px 0 !important;
}
.editorial .excerptwrap .leftcorner .morelikethis h1 {
  font-family: var(--maintitlefonts);
  font-size: 30px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #652b41;
}
.editorial .excerptwrap .rightcorner {
  margin-left: 70px;
  width: 100%;
}
.editorial .excerptwrap .rightcorner p {
  font-family: var(--maintitlefonts);
  font-size: 18px;
  font-weight: 400;
  line-height: 30.6px;
  text-align: left;
}
.editorial .excerptwrap .rightcorner p:not(:first-of-type) {
  margin-top: 35px;
}
.morelikethiswraplist {
  margin-top: 35px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}
.morelikethiswraplist li {
  max-width: 160px;
  width: 100%;
}
.morelikethiswraplist li img {
  width: 100%;
  height: 120px;
}

.morelikethiswraplist li h2 {
  font-family: var(--maintitlefonts);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.nextpostwrap {
  width: 100%;
  background-color: #e37052;
}
.nextpostwrap .next-post a {
  display: flex;
  justify-content: space-between;
}
.nextpostwrap .next-post a .infonext {
  max-width: 632px;
  width: 100%;
  padding: 120px 60px;
}
.nextpostwrap .next-post a .infonext h2 {
  font-family: var(--maintitlefonts);
  font-size: 52px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: -0.02em;
  text-align: left;
}
.nextpostwrap .next-post a .infonext h3 {
  font-size: var(--mainfont);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  margin: 50px 0;
}
.nextpostwrap .next-post a img {
  max-width: 816px;
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.no-next-post {
  padding: 120px 0;
}
.no-next-post p {
  font-family: var(--maintitlefonts);
  font-size: 52px;
  font-weight: 400;
  line-height: 62.4px;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}
.elementor-singlewrap .predoct-recomwrap .sectiontitle {
  text-align: center;
  padding: 26px 0;
  border-bottom: 1px solid #e37052;
  margin-bottom: 35px;
}
.elementor-singlewrap .predoct-recomwrap .sectiontitle h1 {
  font-family: var(--maintitlefonts);
  font-size: 72px;
  font-weight: 700;
  line-height: 93.6px;
  letter-spacing: -0.02em;
  color: #e37052;
}
.elementor-singlewrap .predoct-recomwrap .sectiontitle h2 {
  font-size: 18px;
  color: #595959;
  font-weight: 400;
  line-height: 27px;
  margin: 27px 0;
  text-align: center;
}

.elementor-singlewrap.product-recom {
  padding: 0 20px;
}
/* 
icon
*/
.authorwrap-ico {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 50px;
}
.authorwrap-ico h1 {
  font-family: var(--maintitlefonts);
  font-size: 18px !important;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}
.shar-bar h1 {
  font-size: 16px !;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-right: 4px;
}
.shar-bar .savebookmark {
  width: 70px;
  color: black;
  height: 30px;
}
.shar-bar .savebookmark span {
  margin-left: 5px;
}
.shar-bar a {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 7px;
  background-color: #e7e7e7;

  border-radius: 50px;
}
.shar-bar {
  display: flex;
  align-items: center;
}
.shar-bar .socialicons {
  display: flex;
}
.sharesocials {
  padding: 0 0 40px 0;
}
.mobileinfowrap .authorwrap {
  margin: 40px 0;
}
.mobileinfowrap .authorwrap h1,
.mobileinfowrap .authorwrap h2 {
  font-size: 18px !important;
  font-weight: 500 !important;
  line-height: 23.4px !important;
  text-align: left;
  margin-bottom: 5px !important;
  padding-left: 0px !important;
}
.elementor-singlewrap.product-gifts .predoct-recomwrap .sectiontitle {
  text-align: start;
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1225px) {
  .containernextpost .next-post {
    width: 100%;
  }
  .nextpostwrap .next-post a img {
    max-width: 43%;
    width: 100%;
  }
  .editorial-header .wrapcontent {
    width: 90%;
  }
  .nextpostwrap .next-post a .infonext {
    max-width: 77%;
  }
  .nextpostwrap .next-post a .infonext {
    padding: 57px 36px;
  }
  .nextpostwrap .next-post a .infonext h2 {
    font-size: 36px;
    line-height: 51.4px;
  }
  .editorial .excerptwrap {
    padding: 46px 20px;
  }
}
@media (max-width: 768px) {
  .nextpostwrap .next-post a {
    flex-direction: column-reverse;
  }
  .nextpostwrap .next-post a img {
    max-width: 100%;
  }
  .editorial .excerptwrap {
    padding: 23px 14px;
  }
  .morelikethiswraplist {
    grid-template-columns: 1fr;
  }
  .nextpostwrap .next-post a .infonext {
    max-width: 81%;
  }
  .editorial .excerptwrap .rightcorner {
    margin-left: 0px;
  }
  .editorial .excerptwrap .leftcorner {
    max-width: 301px;
    width: 100%;
  }
  .morelikethiswraplist li {
    max-width: 228px;
    width: 100%;
  }
  .morelikethiswraplist li img {
    width: 100%;
    height: 153px;
  }
  .nextpostwrap .next-post a .infonext h3 {
    margin: 21px 0;
  }
  .editorial .excerptwrap .leftcorner .morelikethis h1 {
    margin-top: 29px;
  }
  .editorial-header {
    height: 811px;
  }
  .elementor-singlewrap .predoct-recomwrap .sectiontitle h1 {
    font-size: 44px;
  }
  .elementor-singlewrap .predoct-recomwrap .sectiontitle h2 {
    margin: 0px 0px;
  }
  .no-next-post p {
    font-size: 28px;
  }
  .editorial-header .wrapcontent .headingcontent h1 {
    margin-bottom: 25px;
    font-size: 48px;
    line-height: 52.6px;
  }
  .shar-bar {
    flex-direction: column;
    align-items: start;
  }
  .elementor-singlewrap.product-gifts {
    margin: 0 14px;
  }
}
@media (max-width: 568px) {
  .editorial .excerptwrap {
    flex-direction: column-reverse;
  }
  .editorial .excerptwrap .leftcorner {
    max-width: 100%;
  }
  .morelikethiswraplist {
    grid-template-columns: 1fr 1fr;
  }
  .editorial-header .wrapcontent .headingcontent h1 {
    line-height: 50.6px;
    font-size: 44px;

    padding-left: 23px;
  }
  .sharesocials {
    padding: 47px 0 10px 0;
  }
  .authorwrap-ico {
    flex-direction: column;
  }
  .authorwrap-ico .shar-bar {
    flex-direction: row;
    align-items: start;
  }
  .authorwrap-ico .shar-bar {
    margin-top: 20px;
  }
}
@media (max-width: 376px) {
  .editorial-header .wrapcontent .headingcontent h1 {
    line-height: 35.6px;
    font-size: 34px;
    padding-left: 10px;
    margin-top: 10px;
  }
  .mobileinfowrap .authorwrap {
    margin: 14px 0;
  }
  .elementor-singlewrap .predoct-recomwrap .sectiontitle h1 {
    font-size: 38px;
    line-height: 52.6px;
  }
  .authorwrap-ico .shar-bar {
    flex-direction: row;
    align-items: start;
    flex-direction: column;
  }
  .authorwrap-ico .shar-bar {
    flex-direction: column;
  }
}
